main {
	.main-content {
		p {
			font-size: 14px;
			color: #737380;
			margin-top: 16px;
		}

		a {
			color: #e559f9;
		}

		h2 {
			font-size: 24px;
			margin: 64px 0 24px;
			font-family: 'Poppins', sans-serif;
		}
	}
}